body {
    background-color: blanchedalmond;
}

.content {
    display: inline;

}

.img__for__me {
    display: inline;
    margin: auto;
    margin-top: 10px;
    height: 100%;
    width: 100%;

}

.img__for__you {
    display: inline;
    margin: auto;
    height: 100%;
    width: 100%;
}

.text {
    display: block;
    margin: 16px;
}

.textt {
    display: block;
    margin: 16px;
}